@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  /* primary */
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  /* Gradients */

  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);

  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);
}

body {
  background-color: var(--White);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Hanken Grotesk";
  font-weight: 700;
}

main {
  width: 80%;
  background-color: var(--White);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.left {
  width: 250px;
  height: 400px;
  padding: 20px 30px;
  background: linear-gradient(hsla(256, 72%, 46%, 0.8), hsl(241, 81%, 54%));
  border-radius: 20px;
  text-align: center;
  color: var(--Light-lavender);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left .result {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left .result-score {
  font-size: 60px;
  font-weight: 800;
  color: var(--White);
}

.left .great {
  color: var(--White);
  font-size: 25px;
}

.right {
  width: 300px;
  height: 400px;
  padding: 20px 10px;
  background-color: var(--White);
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right img {
  margin-right: -60px;
}

.right p {
  display: flex;
  justify-content: space-around;
}

.right .light-red {
  color: var(--Light-red);
}

.right .orange-yellow {
  color: var(--Orangey-yellow);
}

.right .green-teal {
  color: var(--Green-teal);
}

.right .cobalt-blue {
  color: var(--Cobalt-blue);
}

.right .grey {
  color: var(--Dark-gray-blue);
}

.right .button {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 30px;
  color: var(--White);
  background-color: var(--Dark-gray-blue);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.right .button:hover {
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 1));
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  .left {
    width: 100%;
    padding: 0;
    border-radius: 0 0 40px 40px;
    position: absolute;
    top: 0;
  }

  .right {
    width: 90%;
    margin-top: 280px;
  }

  .right img {
    margin-right: -100px;
  }

  .right .button {
    height: 60px;
  }
}
